#home {
  background: url("../../images/background.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
  padding-top: 80px;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  color: var(--color-white);
}

.home__contact:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
